/*
    Document   : featurebox
    Created on : 30/10/2012, 8:23:26 PM
    Author     : nklaze
    Description:
        Purpose of the stylesheet follows.
*/

/*------------------------------------------------*/
/*---------------FEATURE BOX---------------*/
/*------------------------------------------------*/
#feature {
    width: 1100px;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
	padding-left: 20px;
}
#slider{
    /*width: 444px;*/
    height: 270px;
    box-shadow: 7px 7px 8px #818181;
    -webkit-box-shadow: 1px 1px 8px #000000;
    -moz-box-shadow: 1px 1px 8px #000000;
    filter: progid:DXImageTransform.Microsoft.dropShadow(color=#818181, offX=7, offY=7, positive=true);
    border: 10px solid #FFF;
}

#hp-header {
    width: 100%;
    height: 358px;
    /*background-color: #3C8339;*/
    background-image: url(images/hp-header-background.png);
    background-repeat: repeat-x;
    padding-top: 52px;
}
#featureBox, #hp-LogoBox {
    float: left;
}
#hp-Logo {
    background-image: url(images/logo_AVH-white-transparent-hp.png);
    background-repeat: no-repeat;
    width: 520px;
    float: left;
    height: 292px;
    background-position: 90px 65px;
    margin-left: 40px;
}
div#search  {
    height: 54px;
    margin-top: 240px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    width: 200px;
}
div#search li  {
    font-size: 12px;
    line-height: 50px;
    list-style-type: none;
    /*background-image: url(images/Start-Search.png);*/
    background-repeat: no-repeat;
    padding-left: 30px;
}
div#search a {
    color: #787878;
}
div#search a:hover {
    color: #000;
}

#searchBox {
    margin-top: 200px;
}

#feature #solrSearchForm > input#taxaQuery {
    display: inline-block;
    margin-left: 90px;
    margin-top: 2px;
    padding: 4px;
    font-size: 13px;
    width: 200px;
}

#feature  #solrSearchForm > input#solrSubmit {
    display: inline-block;
    background-color: white;
    border: 1px solid #DDD;
    font-size: 13px;
    margin: 3px 5px;
    padding: 4px;
    border-radius: 3px;
}

#solrSearchForm > input#solrSubmit:active {
    background-color: grey;
    color: white;
}