/*
Theme Name: AVH2012
Template: twentyeleven
Description:
Author: Niels Klazenga, Royal Botanic Gardens Melbourne
Author URI:
Version: 0.1

.
.
*/



html, body {
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ffffff;
}

/*-------------------------------------------------------------
-------------------- page wireframe ---------------------------
-------------------------------------------------------------*/

body {
    /*padding: 0; *//* overrides style.css in Twenty Eleven theme */
    font-size: 100%;
}

body.page #primary {
    float: right;
    margin: 0;
    width: 75%;
}

body.page #content {
    margin: 0 !important;
    width: 100% !important;
}

body.page #content article.page {
    margin-top: 0px;
    padding: 0;
}

body.page .entry-meta .edit-link a {
    bottom: auto;
    left: auto;
    position: absolute;
    right: 2.5%;
    top: 20px;
}

body.page .entry-content,
body.page header.entry-header,
body.page footer.entry-footer {
    margin: 0 auto;
    width: 95%;
}

body.page .entry-content {
    padding-top: 0px;
}

article#post-93 {
    margin-left: -260px;
}

/*------------------------------------------------
---------------------   TOC   --------------------
------------------------------------------------*/
#toc ul li {
    list-style-type: disc;
    color: #006600;
    line-height: 1.5em;
	margin-left: -5px;
}

#toc ul li a {
    color: #006600;
}

#toc ul li.toclevel-2 {
    list-style-type: circle;
}

#toc ul li.toclevel-3 {
    list-style-type: none;
}


/*------------------------------------------------
----------------- Login --------------------------
------------------------------------------------*/

.news_content h3 {
    color: #666;
    font-size: 22px;
    font-weight: lighter;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 5px;
    padding-left: 0px;
    margin-top: 20px;
}
.news_content h4 {
    color: #3C88C3;
    font-size: 20px;
    font-weight: lighter;
    line-height: normal;
    padding: 0px;
    margin-top: 10px;
    margin-right: 0px;
    margin-bottom: 5px;
    margin-left: 0px;
}
.news_content p {
    padding-right: 20px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 4px;
    margin-left: 0px;
    font-size: 12px;
    line-height: 20px;
}
.news_content a {
    color: #1775BA;
}
.news_content a:hover {
    color: #729D00;
}
.news_postmetadata{
    margin-bottom: 20px;
    font-size: 12px;
    margin-top: 10px;
}
.date{
    margin-bottom: 10px;
    margin-top: 10px;
    line-height: 160%;
    overflow: visible;
    font-size: 13px;
}
.comments{
    font-size: 12px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.comment_text{
    font-size: 14px;
    line-height: 20px;
    margin-top: 10px;
    padding: 0px;
    margin-bottom: 10px;
    color: #666;
}
.comments_gravatar{}
.comments ul li{}
.commentmetadatadate {
    font-size: 11px;
    margin-bottom: 20px;
}
.comment-body {
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
    -khtml-border-radius: 12px;
    -webkit-box-shadow: 0px 0px 10px  #cfcfcf;
    -moz-box-shadow: 0px 0px 10px #cfcfcf;
    border-radius: 12px;
    border: 1px solid #cfcfcf;
    margin-bottom: 20px;
    padding: 10px;
}
.fn {
    font-size: 14px;
    font-weight: normal;
    color: #1789D7;
    font-style: normal;
}
/*------------------------------------------------*/
/*---------------FOOTER---------------*/
/*------------------------------------------------*/
.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -100px; /* the bottom margin is the negative value of the footer's height */
}
.footer {
    height: 100px; /* .push must be the same height as .footer */
    clear: both;
    /*text-align: center;*/
    background-color: #E8E8E8;
    font-size: 12px;
    padding-top: 8px;
}

#footer {
    width: 1024px;
    margin-left: auto;
    margin-right: auto;
}

#footer .footer_item_1 {
    display: inline-block;
    width: 220px;
}

#footer .footer_item_3 {
    display: inline-block;
    vertical-align: top;
    padding-top: 40px;
    width: 200px;
    text-align: right;
    margin-right: 10px;
}

#footer .footer_item_2 {
    display: inline-block;
    vertical-align: top;
    padding-top: 40px;
    width: 584px;
    text-align: center;
}


.push {
    height: 100px; /* .push must be the same height as .footer */
    clear: both;
}
h1, h2, h3, h4, h5, h6, #content2 h1, #content2 h2, #content2 h3, #content2 h4, #content2 h5, #content2 h6 {
    padding: 0 0 8px;
    color: #444;
}

/*---- ALA changes ----*/
#headingBar {
    min-height: 55px;
}

#headingBar > h1 {
    padding-top: 10px;
}

#SidebarBox, #resultsReturned {
    margin-top: 5px;
}

#searchHeader { padding-left:30px; }

.by-author {
    display: inline !important; /* should override 'display: none' in Twenty Eleven*/
}

/*----------------------------------------------------------
--------------------- AVH styles ---------------------------
----------------------------------------------------------*/

span.feature {
    font-weight: bold;
}

.screenshot img {
    border: solid 1px #CCC;
    padding: 4px;
}

/*-----------------------------------------------------------
---------------------- Partners page ------------------------
-----------------------------------------------------------*/

div#partners {
	padding-top: 10px;
}

div.column {
    height: 80px;
}

div.col1 {
    float: left;
    clear: left;
    width: 12%;
	text-align: center;
}

div.col2 {
	padding-top: 5px;
}

/*--------- ALA changes --------*/
div#loginId {
    display: inline;
    margin: 0;
}

div#SidebarBox ul.facets {
    list-style: none;
}

div#SidebarBox ul.facets li {
    margin-left: 10px;
}

#contentBox > #headingBar {
    min-height: 55px;
}
#contentBox > #headingBar > h1 {
    padding-top: 15px;
}
#SidebarBox, #resultsReturned {
    margin-top: 5px;
}
#searchHeader {
    padding-left: 30px;
}
#solrSearchForm > input#taxaQuery {
    margin: 0;
}
div.sidebar h4 span {
    padding: 5px 0;
}
div#clubView {
    display: inline;
    font-size: 13px;
}

/*.dataQualityResults td, th {*/
    /*horizontal-align:left;*/
    /*border-bottom: 1px solid #808080;*/
/*}*/

#loginId {
    font-size: 13px;
}

.btn-group > .btn + .btn, .input-append > input + .btn, .modal-footer .btn-group > .btn + .btn {
    margin-left: -5px;
}

/* BS changes to banner */
.navbarFullWidth {
    background-repeat: repeat-x;
    background-image: url("images/header-background.png");
    background-position: 0% 100%;
    height: 194px;
    margin-left: -20px;
    margin-right: -20px;
}
.navbar.navbar-static-top  {
    min-height: 40px;
    background-image: url("images/n-bg.jpg");
    background-repeat: repeat-x;
    border-bottom: 1px solid #d4d4d4;
}
.navbar-inner {
    min-height: 40px;
    padding-left: 0;
    padding-right: 0;
    background-color: inherit;
    background-image: inherit;
    background-repeat: repeat-x;
    filter: none;
    border: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0x;
    border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    *zoom: 1;
}
.navbar .nav {
    margin: 0;
    display: table;
    width: 100%;
    background-color: #fafafa;
    background-image: -moz-linear-gradient(top, #ffffff, #f2f2f2);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#f2f2f2));
    background-image: -webkit-linear-gradient(top, #ffffff, #f2f2f2);
    background-image: -o-linear-gradient(top, #ffffff, #f2f2f2);
    background-image: linear-gradient(to bottom, #ffffff, #f2f2f2);
    background-image: url("images/n-bg.jpg");
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff2f2f2', GradientType=0);
    border: none;
    *zoom: 1;
}
.navbar .nav li {
    display: table-cell;
    width: 1%;
    float: none;
    background-image: url(images/n-sep.jpg);
    background-repeat: no-repeat;
    background-position: right;
}
.navbar .nav li a {
    font-weight: normal;
    text-align: center;
    /*border-left: 1px solid rgba(255,255,255,.75);*/
    /*border-right: 1px solid rgba(0,0,0,.1);*/
    white-space: nowrap;
    color: #666666; /*#0c6fb5;*/
    text-decoration: none;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 16px;
    padding: 15px;
}
.navbar .nav li:first-child a {
    border-left: 0;
    margin-left: 0;
    background-image: url(images/n-sep.jpg);
    background-repeat: no-repeat;
    background-position: left;
    /*border-radius: 3px 0 0 3px;*/
}
.navbar .nav li:last-child a {
    border-right: 0;
    margin-right: 0;
    /*border-radius: 0 3px 3px 0;*/
}
/*.navbar .nav > li > a {*/
    /*padding: 15px;*/
    /*display: block;*/
    /*color: #666666; *//*#0c6fb5;*/
    /*text-decoration: none;*/
    /*height: 33px;*/
    /*padding: 15px;*/
    /*text-align: center;*/
    /*line-height: 175%;*/
/*}*/

.navbar .nav li a:hover {
    color: #FFF;
    text-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    background-color:  #a2a2a2;
    background-image: -moz-linear-gradient(100% 100% 90deg, #696969, #a2a2a2);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#a2a2a2), to(#696969));
}

#avhLogoRow {
    padding: 18px 10px 10px 10px;
}

div#rightMenu {
    padding-top: 100px;
    padding-right: 20px;
    /*padding-right: 93px;*/
    text-align: right;
    /*width: 982px;*/
    color: #ffffff;
}

div#rightMenu a {
    color: #ffffff;
    font-size: 13px;
}

.nav-tabs > .active > a,
.nav-tabs > .active > a:hover,
.nav-tabs > .active > a:focus {
    background-color: #ffffff;
}

span.checkbox-checked {
    background: url('images/checkbox-checked-green.png') no-repeat left top;
}

.btn-primary, .btn-primary:hover {
    background-color: #006600;
    background-image: none;
}

#jsonLink {
    display: none;
}

/*
* Font colour for links in AVH
*/
a, a:link, a:visited, a:focus, a:hover {
    color: #006600;
}