ul#nav-site a:link, ul#nav-site a:visited {
    font-size: 17px;
}

#headingBar {
    margin-left: 0 !important;
}

#searchBox {
    display:none;
}

#SidebarBox {
    float: left;
}

#content2 {
    float: left;
    margin-left: 20px;
    /*    width: 640px;*/
}

#main_content > #headingBar {
    min-height: 55px;
    margin: 0 0 10px 0;
    /*border-bottom: none; */
}

#main_content > #headingBar > h1 {
    padding-top: 15px;
}

#SidebarBox, #resultsReturned {
    margin-top: 5px;
}

h1, h2, h3, h4, h5 {
    line-height: 1.2em;
}

h1 {
    font-size:30px;
}

h2 {
    font-size:26px;
}

h3 {
    font-size:20px;
}

h4{
    font-size:16px;
}

h5{
    font-size:14px;
}

h6{
    font-size:14px;
    letter-spacing:.1em;
}

p, ul {
    padding-bottom: 0;
}

#mapLayerControls label {
    margin: 0;
}

#searchHeader { padding-left: 20px;}

div#mainmenu > div.rightMenu {
    float:right;
    border-right: none;
    border-left: 1px solid #FFF;
}

div#mainmenu > div#clubView {
    font-weight: bold;
    padding-left: 5px;
    padding-right: 5px;
}

div#mainmenu a div#loginId {
    display: inline-block;
    padding-right: 5px;
}

#clubView {
    color: red;
}

/* Custom width for AVH results */
#content2 .css-panes div.paneDiv {
    width: 740px;
}

#mapwrapper #mapcanvas {
    width: 740px;
}

#mapwrapper #maploading {
    width: 740px;
}

/* Tabs in search page */
ul.facets {
    padding-bottom: 0;
}

.nav-tabs li a {
    background-color: #fff;
    border: 1px solid #ddd;
    margin-right: 4px;
}

.tabbable .nav-tabs {
    margin-bottom: 0;
    padding-bottom: 0;
}

.tab-content {
    border-bottom: 1px solid #DDD;
    border-right: 1px solid #DDD;
    border-left: 1px solid #DDD;
    padding: 15px;
}

.nav-tabs > .active > a,
.nav-tabs > .active > a:hover,
.nav-tabs > .active > a:focus {
    background-color: #fff;
}

ul#nav-site li {
    line-height: 50px;
}