/*
    Document   : contentbox
    Created on : 30/10/2012, 8:29:47 PM
    Author     : nklaze
    Description:
        Purpose of the stylesheet follows.
*/

/*------------------------------------------------*/
/*------------------   CONTENT   -----------------*/
/*------------------------------------------------*/

/*---------------PAGE---------------*/
#contentBox {
    background-color: #FFF;
    width: 1024px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    padding-left: 0px;
}

#indentContent {
	padding: 0px 10px;
}

#header {
    width: 100%;
    height: 144px;
    background-repeat: repeat-x;
    background-image: url("images/header-background.png");
}
#featureBox, #LogoBox {
    float: left;
}

#loginId {
	width: 974px;
	margin: 0px 10px;
}

#Logo {
    background-image: url("images/logo_AVH-white-transparent-small.png");
    background-repeat: no-repeat;
    width: 450px;
    float: left;
    height: 100px;
    background-position: 13px;
    margin-top: 20px;
	margin-left: -20px;
}

#content2 {
    float: left;
    margin-left: 40px;
    width: 640px;
}
#content2 ul {
    list-style-type: none;
    list-style-position: inside;
    list-style: disc;
    /*list-style-image: url("images/bg-list-item.png");*/
    margin-top: 10px;
    line-height: 24px;
}
#content2 h1 {
    color: #1775BA;
    font-size: 40px;
    /*text-shadow: 1px 1px 1px #bbbaba;*/
    margin-bottom: 10px;
    font-weight: lighter;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #CCC;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 5px;
    padding-left: 0px;
    margin-top: 0px;
}
#content2 h4 {
    color: #3C88C3;
    font-size: 20px;
    font-weight: lighter;
    line-height: normal;
    padding: 0px;
    margin-top: 10px;
    margin-right: 0px;
    margin-bottom: 5px;
    margin-left: 0px;
}
#content2 p {
    padding-right: 20px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 4px;
    margin-left: 0px;
}
#content2 a {
    font-size: 12px;
}
/* News*/
#contentBoxA {
    background-color: #FFF;
    width: 980px;
    margin-top: 40px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    padding-left: 0px;
}
.news_content {
    float: left;
    margin-left: 20px;
    width: 640px;
}
.news_content ul {
    list-style-type: none;
    list-style-position: inside;
    list-style: disc;
    /*list-style-image: url("images/bg-list-item.png");*/
    margin-top: 10px;
    line-height: 24px;
}
.news_content h1 {
    color: #1775BA;
    font-weight: lighter;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #CCC;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 10px;
    padding-left: 0px;
    margin-top: 0px;
    font-size: 32px;
}
.news_content h2 {
    color: #1775BA;
    /*text-shadow: 1px 1px 1px #bbbaba;*/
    margin-bottom: 10px;
    font-weight: lighter;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #CCC;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 5px;
    padding-left: 0px;
    margin-top: 0px;
}