/*
    Document   : hp-contentbox
    Created on : 30/10/2012, 8:26:28 PM
    Author     : Niels Klazenga, Council of Heads of Australasian Herbaria
    Description:
*/

/*------------------------------------------------*/
/*---------------CONTENT---------------*/
/*------------------------------------------------*/

/*---------------HOME PAGE---------------*/
#hp-contentBox {
    background-color: #FFF;
    width: 1024px;
    margin-top: 30px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    padding: 0px;
}

#hp-content {
    float: left;
    width: 450px;
    padding-left: 40px;
}

#hp-content h1 {
    color: #999;
    text-transform: uppercase;
    font-size: 34px;
    line-height: 44px;
    text-shadow: 1px 1px 1px #bbbaba;
    margin-bottom: 10px;
    font-weight: lighter;
}

#hp-content p {
    font-size: 90%;
    line-height: 18px;
    margin-bottom: 10px;
}

.hp-contentbutton  {
    background-image: url(images/hp-button.png);
    height: 50px;
    width: 194px;
    background-repeat: no-repeat;
    font-size: 14px;
    display: list-item;
    list-style-type: none;
    margin-top: 220px;
    margin-right: auto;
    margin-left: 140px;
    margin-bottom: 0px;
    padding: 0px;
    text-indent: 30px;
    line-height: 260%;
}

.hp-contentbutton a  {
    display: inline-block;
    width: 200px;
    text-indent: 0;
    color: #333;
    padding-left: 0px;
    /*padding-top: 10px; */
    /*	text-align: center;*/
}

.hp-contentbutton a:hover  {
    color: #729D00;
    padding-left: 0px;
}