/*
    Document   : navigation
    Created on : 30/10/2012, 8:17:14 PM
    Author     : nklaze
    Description:
        Purpose of the stylesheet follows.
*/

/*------------------------------------------------*/
/*----------------   NAVIGATION   ----------------*/
/*------------------------------------------------*/

#navigation {
    clear: both;
    width: 100%;
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;
    background-image: url(/images/n-bg.jpg);
    background-repeat: repeat-x;
    height: 53px;
}

#navigation div.skip-link {
    display: none;
}

#nav-inside {
    overflow: visible;
    width: 1024px;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
}

#nav {
    margin: 0;
    list-style: none;
    line-height: 100%;
}

#nav a {
    display: block;
    color: #666666; /*#0c6fb5;*/
    text-decoration: none;
    height: 33px;
    padding: 10px;
    text-align: center;
    line-height: 175%;
}

#nav a:hover {
    color: #FFF;
    text-shadow: 0px -1px 0px #000;
    -moz-box-shadow:inset -2px 0 5px #727272;
    -webkit-box-shadow: inset -2px 0 5px #727272;
    background-image: url(images/n-ro.png); /* fallback image */
    background-repeat: repeat-x;
    background-image: -moz-linear-gradient(100% 100% 90deg, #696969, #a2a2a2);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#a2a2a2), to(#696969));
}

#nav ul {
    list-style: none;
}

#nav li { /* all list items */
    float: left;
    width: 170px; /* width needed or else Opera goes nuts */
    height: 53px;
    background-image: url(images/n-sep.jpg);
    background-repeat: no-repeat;
    background-position: right;
}

#nav_start {
    margin: 0;
    list-style: none;
    line-height: 100%;
}

#nav_start li { /* all list items */
    float: left;
    height: 53px;
    background-repeat: no-repeat;
    background-position: right;
    background-image: url(images/n-sep.jpg);
    width: 2px;
}