/*
    Document   : style-common
    Created on : 31/10/2012, 11:40:52 AM
    Author     : nklaze
    Description:
        Purpose of the stylesheet follows.
*/

/*
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

p {
    /*font-size: 100%;*/
}

#contentBox p {
    line-height: 1.5em;
    padding-bottom: 5px;
    padding-top: 5px;
}

#contentBox a, #footer a {
    color: #006600;
}

#contentBox #help_content, #contentBox #indentContent {
    font-size: 14px;
}

#help_content h1, #indentContent h1 {
    font-size: 200%;
    color: #006600;
    padding-bottom: 0px;
    padding-top: 10px;
    letter-spacing: normal;
}

#help_content h2, #indentContent h2 {
    font-size: 150%;
    color: #006600;
    margin-bottom: 0px;
    margin-top: 20px;
    padding-bottom: 0px;
}

#help_content h3, #indentContent h3 {
    font-size: 110%;
    color: #006600;
    margin-bottom: 0px;
    margin-top: 16px;
    line-height: 1.5em;
    text-transform: none;
    font-weight: bold;
    letter-spacing: normal;
    padding-bottom: 0px;
}

#help_content h4, #indentContent h4 {
    font-size: 100%;
    color: #006600;
    margin-bottom: 0px;
    margin-top: 12px;
    line-height: 1.5em;
    text-transform: none;
    font-weight: bold;
    letter-spacing: normal;
    padding-bottom: 0px;
}

#help_content ul, #indentContent ul {
    list-style-type: disc;
    padding-bottom: 5px;
}

#help_content ul li, #indentContent ul li {
    margin-left: 2em;
    line-height: 1.5em;
}

#help_content blockquote, #indentContent blockquote {
	margin: 10px 30px;
	padding: 10px;
}
