/*------------------------------------------------*/
/*---------------SIDEBAR---------------*/
/*------------------------------------------------*/

#SidebarBox {
    float: left;
}

#SidebarBox .sidebar {
    width: 240px;
    margin: 0;
    padding-left: 30px;
}

#SidebarBox #institutionLogo {
    max-width: 250px;
}

#contentBox #content2 {
    float: left;
    margin-left: 8px;
    width: 720px;
}

.sidebar li {
    font-size: 12px;
    list-style-image: url(images/arrow_r.jpg);
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #E8E8E8;
    margin-right: 20px;
    margin-bottom: 5px;
    padding-top: 7px;
    padding-right: 3px;
    padding-bottom: 7px;
    padding-left: 3px;
    behavior: url(ie-css3.htc); /* This lets IE know to call the script on all elements which get the 'box' class */
    margin-left: 20px;
}

.sidebar li a {
    color:#005A8E;
    text-decoration:none;
}
.sidebar li a:hover  {
    color:#6DB71D;
    text-decoration:none;
}
.sidebar p {
    font-size: 12px;
    line-height: 18px;
    color: #545454;
}

body table td {
    font-size: 13px;
}
/*---------------News Widget---------------*/
#NewsSidebarBox{
    float: left;
}

.Newssidebar{
    float: left;
    clear: left;
    width: 200px;
    margin: 0;
}

.Newssidebar li {
    font-size: 12px;
    list-style-image: url(images/arrow_r.jpg);
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #E8E8E8;
    margin-right: 20px;
    margin-bottom: 5px;
    padding-top: 7px;
    padding-right: 3px;
    padding-bottom: 7px;
    padding-left: 3px;
    behavior: url(ie-css3.htc); /* This lets IE know to call the script on all elements which get the 'box' class */
    margin-left: 20px;

}

.Newssidebar li a {
    color:#005A8E;
    text-decoration:none;
}
.Newssidebar li a:hover  {
    color:#6DB71D;
    text-decoration:none;
}
.Newssidebar p {
    font-size: 12px;
    line-height: 18px;
    color: #545454;
}
#News-sb{
    float: left;
    margin-bottom: 12px;
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
    -khtml-border-radius: 12px;
    border-radius: 8px;
    behavior: url(ie-css3.htc);
    padding-top: 7px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    width: 100%;
}
#News-sb h1{
    color: #1775BA;
    font-weight: lighter;
    font-size: 22px;
}

/*---------------IMG Widget---------------*/

#img-sb{
    float: left;
    margin-bottom: 30px;
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
    -khtml-border-radius: 12px;
    -webkit-box-shadow: 0px 0px 10px  #cfcfcf;
    -moz-box-shadow: 0px 0px 10px #cfcfcf;
    border-radius: 12px;
    border: 1px solid #cfcfcf;
    padding-left: 25px;
    padding-top: 16px;
    padding-right: 25px;
    padding-bottom: 16px;
    behavior: url(ie-css3.htc); /* This lets IE know to call the script on all elements which get the 'box' class */

}
#img-sb h1{
    color: #666;
    text-transform: uppercase;
    font-size: 13px;
    padding: 0px;
    text-align: center;
    font-weight: normal;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 10px;
    margin-left: 0px;
}
#img-sb p {
    font-size: 11px;
    color: #545454;
    margin: 0px;
    padding-top: 5px;
    text-align: center;
}
#img-sb img {
    border: 1px solid #CCC;
}

/*---------------Sponsors Widget---------------*/

#sponsors{
    display: block;
    text-align: center;
    width: 511px;
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: #CCC;
    margin-right: auto;
    margin-left: auto;
    float: left;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
}
#sponsors h1{
    font-size: 17px;
    color: #666;
    text-align: center;
    margin-bottom: 20px;
    font-weight: lighter;
}
div.SponsorsBox{
    width: 460px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 0px;
    margin-bottom: 0px;
}
div.float {
    float: left;
    height: 42px;
    margin-bottom: 25px;
    margin-right: 25px;
    padding: 0px;
    display: block;
}
div.spacer {
    clear: both;
}

/*---------------Search Btn Widget---------------*/
#search-sb{
    float: left;
    margin-bottom: 12px;
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
    -khtml-border-radius: 12px;
    border-radius: 8px;
    padding: 0px;
    behavior: url(ie-css3.htc); /* This lets IE know to call the script on all elements which get the 'box' class */
}
#search-sb h1{
    color: #666;
    text-transform: uppercase;
    font-weight: lighter;
    font-size: 13px;
    margin: 0px;
    padding: 0px;
    line-height: 32px;
    text-align: center;
}
#search-sb p {
    font-size: 10px;
    color: #545454;
    margin: 0px;
    padding-top: 5px;
}

.searchbtn  {
    background-image: url(images/hp-button.png);
    height: 50px;
    width: 194px;
    background-repeat: no-repeat;
    font-size: 14px;
    display: list-item;
    list-style-type: none;
    padding: 0px;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    line-height: 38px;
    text-indent: 36px;
}
.searchbtn a  {
    color: #333;
    padding-left: 10px;
}
.searchbtn a:hover  {
    color: #729D00;
    padding-left: 10px;
}
.textwidget{
    width: 220px;
    margin-right: auto;
    margin-left: auto;
}