/* 
    Document   : base
    Created on : Feb 17, 2011, 10:47:09 AM
    Author     : "Nick dos Remedios <Nick.dosRemedios@csiro.au>"
    Description:
        Purpose of the stylesheet follows.
*/
html #content img {
    -moz-border-radius: 0px; /* FF1+ */
    -webkit-border-radius: 0px; /* Saf3+, Chrome */
    -o-border-radius: 0px;
    -icab-border-radius: 0px;
    -khtml-border-radius: 0px;
    border-radius: 0px; /* Opera 7.7, IE 9 */
}


#content2 p, #content2 div, #headingBar, #contentBox div {
    font-size: 13px;
    line-height: 1.5em;
}
/*#content2 {*/
    /*width: 720px;*/
/*}*/
.sidebar {
    /*width: 210px;*/
}
a:link, a:visited, #content2 a:link, #content2 a:visited {
    /*font-size: 13px;*/
    text-decoration: none;
/*    color: #005A8E;*/
}
a:hover, #content2 a:hover {
    text-decoration: underline;
}
/*h1, h2, h3, h4, h5, h6, #content2 h1, #content2 h2, #content2 h3, #content2 h4, #content2 h5, #content2 h6 {
    padding: 0 0 8px;
    color: #444;
    font-family: 'Rockwell', arial, helvetica, sans-serif;
}*/
#nav li a {
    font-size: 100%;
}
/*#contentBox {*/
    /*width: 1000px;*/
/*}*/
label {
    display: inline;
}
input, textarea, select, button {
    margin: 0;
}
form input {
    padding: 0;
}
form p input {
    float: none
}
table th {
    text-align: left;
    padding: 6px 12px;
    font-weight: bold;
    color: #444;
}
table td, table th  {
    text-align: left;
    padding: 4px 6px;
    line-height: 1.3em;
    vertical-align: top;
/*    color: #666;*/
}
table.compact, table.nested {
    width: 100%;
    margin: 2px 0 4px 0;
}
#content3 table.compact  {
    border-bottom: 1px solid #CCC;
}
table.compact thead {
    border: none;
}
table.compact th, table.compact td {
    padding: 4px;
}
table.nested th, table.nested td {
    padding: 0;
}
td.labels {
    width: 170px;
}
#headingBar {
    padding-left: 0px;
}
#headingBar h1 {
/*    font-family: 'Rockwell', arial, helvetica, sans-serif;*/
/*    color: #1775BA;*/
    font-size: 200%;
    /*text-shadow: 1px 1px 1px #bbbaba;*/
    margin-bottom: 10px;
    font-weight: lighter;
/*    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #CCC;*/
    /*padding: 5px 0; */
    margin-top: 0px;
}
.sidebar h2 {
    font-size: 130%;
    margin-top: 10px;
}
.sidebar h3 {
    font-size: 120%;
    padding-top: 4px;
}
.sidebar h4 {
    font-size: 100%;
    padding: 4px 0;
}
.sidebar li {
    border-bottom: none;
}
.sidebar li {
    font-size: 13px;
}

#advancedSearch {
    display: none;
    margin-top: 5px;
    padding: 5px;
    border: 2px solid #CCC;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
}
input.taxaLookup {
    float: right;
    margin-right: 10px;
}
div.autoLine2 {
    color: #777;
}
.matchedName {
    display: inline-block;
    padding: 2px 8px 4px 8px;
    margin-right: 10px;
    border: 0px solid #CCC;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    -khtml-border-radius: 8px;
    border-radius: 8px;
    background-color: #C5DCEE;
    max-width: 90%;
    float: left;
    max-height: 15px;
    overflow: hidden;
}
#taxonSearchHint {
    font-size: 12px;
    margin-top: 5px;
}
table.compact td select {
    width: auto;
}
input.region_autocomplete {
    width: 350px;
}
#contentBox div.imageThumb {
    float: left;
    padding: 2px;
    line-height: 0;
}
div.fullWidthHeader {
    margin-left: 30px;
    margin-bottom: 20px;
    padding-left: 0 !important;
    border-bottom: 2px solid gray;
}
span#taxonName {
    color: black;
}
#content2 div.taxaDescription p {
    padding-bottom: 10px;
}
.bold {
    font-weight: bold;
}

.freetext {
    font-size: 16px;
}

.freetext {
    font-size: 16px;
}

#userFlaggedIssuesDetails {
    text-align: left;
}

#userFlaggedIssuesDetails p {
    margin-top:5px;
    padding:3px;
    border-bottom: 1px solid #CCC;
}

#simpleSearchDiv  input[type=text] {
    width: 240px;
}

#simpleSearchDiv  input.occurrence_date {
    width: 110px;
}

#extendedOptions {
    padding-left:10px;
}

.toggleSection {
    display:block;
    padding-left: 10px;
    padding-top: 7px;
    padding-bottom: 4px;
    margin-bottom: 6px;
    border-bottom: 1px solid #DDD;
}
#extendedOptions {
    display: none;
}
a.toggleTitle {
    background: url("../images/plus.gif") 0 5px no-repeat;
    display: block;
    padding-left: 14px;
    font-weight: bold;
}
a.toggleTitleActive {
    background: url("../images/minus.gif") 0 5px  no-repeat;
    display: block;
    padding-left: 14px;
}
a.toggleOptions {
    background: url("../images/plus.gif") 0 3px no-repeat;
    display: block;
    padding-left: 14px;
}
a.toggleOptionsActive {
    background: url("../images/minus.gif") 0 3px  no-repeat;
    display: block;
    padding-left: 14px;
}
#content3 #simpleSearchDiv table.compact  {
    border-bottom: none;
}
table#taxonomyOptions {
    width: 100%;
    margin-bottom: 0;
}

#taxonSearchDiv {
    border-bottom: 1px solid #DDD;
    /*border: 1px solid #AAA !important;*/
    /*-moz-border-radius: 5px;*/
    /*-webkit-border-radius: 5px;*/
    /*-khtml-border-radius: 5px;*/
    /*border-radius: 5px;*/
    /*width: 95%;*/
}

#nameMatchingOptions {
    display:none;
}

abbr {
    border-bottom: black dashed 1px;
    cursor: help;
}

/* Bootstrap tabs CSS */

.tab-content {
    border-bottom: 1px solid #DDD;
    border-right: 1px solid #DDD;
    border-left: 1px solid #DDD;
    padding: 15px;
}

.nav-tabs li a {
    background-color: #f0f0e8;
    border: 1px solid #ddd;
    margin-right: 4px;
}

#content ul.nav-tabs {
    list-style: none;
    margin-left: 0;
    margin-bottom: 0;
}