/* 
    Document   : base
    Created on : Feb 17, 2011, 10:47:09 AM
    Author     : "Nick dos Remedios <Nick.dosRemedios@csiro.au>"
    Description:
        Purpose of the stylesheet follows.
*/

#content p, #content div, #headingBar, #contentBox div {
    font-size: 13px;
    line-height: 1.5em;
}
#content {
    width: 720px;
}
.sidebar {
    width: 210px;
}
a:link, a:visited, #content a:link, #content a:visited {
    font-size: 13px;
    text-decoration: none;
    color: #005A8E;
}
a:hover, #content a:hover {
    text-decoration: underline;
}
h1, h2, h3, h4, h5, h6, #content h1, #content h2, #content h3, #content h4, #content h5, #content h6 {
    padding: 0 0 8px;
    color: #444;
    font-family: 'Rockwell', arial, helvetica, sans-serif;
}
#nav li a {
    font-size: 100%;
}
#contentBox {
    width: 1000px;
}
label {
    display: inline;
}
input, textarea, select, button {
    margin: 0;
}
form input {
    padding: 0;
}
form p input {
    float: none
}
table th {
    text-align: left;
    padding: 6px 12px;
    font-weight: bold;
    color: #444;
}
table td,table th  {
    text-align: left;
    padding: 6px 12px;
    line-height: 1.3em;
    vertical-align: top;
/*    color: #666;*/
}
table.compact, table.nested {
    width: 100%;
    margin: 2px 0 4px 0;
}
table.compact th, table.compact td {
    padding: 4px;
}
table.nested th, table.nested td {
    padding: 0;
}
td.label {
    width: 170px;
}
#headingBar {
    padding-left: 30px;
}
#headingBar h1 {
    font-family: 'Rockwell', arial, helvetica, sans-serif;
    color: #1775BA;
    font-size: 200%;
    /*text-shadow: 1px 1px 1px #bbbaba;*/
    margin-bottom: 10px;
    font-weight: lighter;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #CCC;
    /*padding: 5px 0; */
    margin-top: 0px;
}
.sidebar h2 {
    font-size: 130%;
    margin-top: 4px;
}
.sidebar h3 {
    font-size: 120%;
    padding-top: 4px;
}
.sidebar h4 {
    font-size: 100%;
    padding: 6px 0;
}
.sidebar li {
    border-bottom: none;
}
.sidebar li {
    font-size: 13px;
}
#advancedSearchLink a {
    font-size: 12px;
}
#advancedSearch {
    display: none;
    margin-top: 5px;
    padding: 5px;
    border: 2px solid #CCC;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
}
input.taxaLookup {
    float: right;
    margin-right: 10px;
}
div.autoLine2 {
    color: #777;
}
.matchedName {
    display: inline-block;
    padding: 2px 8px 4px 8px;
    margin-right: 10px;
    border: 0px solid #CCC;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    -khtml-border-radius: 8px;
    border-radius: 8px;
    background-color: #C5DCEE;
    max-width: 90%;
    float: left;
    max-height: 15px;
    overflow: hidden;
}
#taxonSearchHint {
    font-size: 12px;
    margin-top: 5px;
}
table.compact td select {
    width: auto;
}
input.region_autocomplete {
    width: 350px;
}
#contentBox div.imageThumb {
    float: left;
    padding: 2px;
    line-height: 0;
}
div.fullWidthHeader {
    margin-left: 30px;
    margin-bottom: 20px;
    padding-left: 0 !important;
    border-bottom: 2px solid gray;
}
span#taxonName {
    color: black;
}