#toc {
    clear: left;
    float: left;
    width: 270px;
    height: 100%;
    padding-left: 5px;
    padding-right: 5px;
    margin-right: 10px;
    padding-top: 0px;
    background-color: #F5F5F5;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
}

#help_content {
    float: left;
    width: 700px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 5px;
    padding-right: 5px;
}

/*

#indentContent {
    margin-left: 10px;
}

#indentContent h2, #indentContent h3, #indentContent ul, #help_content h2, #help_content h3, #help_content h4 {
    margin-top: 10px
}
*/

/* Fixes for skins with reset.css */
#indentContent ul, #contentBox ul {
    list-style-type: disc;
    padding-left: 30px;
}

#indentContent ul ul, #indentContent ul ul ul, #contentBox ul ul, #contentBox ul ul ul {
    list-style-type: circle;
    padding-left: 20px;
}
