#toc {
    clear: left;
    float: left;
    width: 270px;
    height: 100%;
    padding-left: 5px;
    padding-right: 5px;
    margin-right: 10px;
    margin-top: 20px;
    padding-top: 0px;
    background-color: #F5F5F5;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
}

#help_content {
    float: left;
    width: 650px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 5px;
    padding-right: 5px;
}
