/* 
    Document   : record
    Created on : Feb 16, 2011, 4:40:59 PM
    Author     : "Nick dos Remedios <Nick.dosRemedios@csiro.au>"
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/


/* From Biocachewebapp

div.annotate {
    float: right;
}

div.annotation {
   position: absolute;
   left: 170px;
}

div.annotation.tr {
    margin-top: -19px;
}

div.boxes {
    display: none;
}

#mask {
    position:absolute;
    left:0;
    top:0;
    z-index:9000;
    background-color:#000;
    display:none;
}

div.window {
    width:550px;
}

div.window td {
    text-align: left;
}

a.annotationLink {
    padding-left: 20px;
    background: url('images/icon_comment_add.png') no-repeat 0px -2px;
    text-decoration: none;
    font-size: 13px;
}

a.annotatedIcon {
    padding-left: 14px;
    background: url('images/icon_comment.png') no-repeat 0px 2px;
    text-decoration: none;
    font-size: 13px;
}

div.annoDetails {
    font-size: 10px;
    line-height: 1.4em;
}

span.oldValue {
    display: none;
    text-decoration:line-through;
}

span.newValue {
    color: #CE573E;
}

tr.annoInfo, tr.annoComment {
    display: none;
}

tr.annoInfo > td.annoReply {
    background-color: #CBDAF0;
    padding:0px;
    border-bottom: 1px solid white;
}

td.annoInfo {
    background-color: #CBDAF0;
}

div.replyBody {
    border-left: 4px solid #6590D4;
    border-bottom: 1px;
    padding: 4px 0 4px 4px;
}

td.annoText {
    width: 20px;
}

.oldValues {
    border: none;
}

input.newValues, textarea.newValues {
    width: 160px;
}

textarea.comment {
    width: 320px;
}

div#ajaxLoading {
    width: 160px;
    position: absolute;
    top: 150px;
    left: 30%;
    margin-left: -100px;
    padding: 8px;
    text-align: center;
    background-color: #CBDAF0;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}

div.loading, div.message {
    display: none;
    padding: 5px 2px;
}

div.creatorInfo  {
    padding-top: 4px;
}

td.identification {
    background-color: #DDDDDD;
    padding: 5px;
}

div.creatorInfo {
    text-align: right;
    margin-right: 30px;
    line-height: 2.5em;
}

div.formIdentity {
    line-height: 2em;
}

h4.annotatable {
    padding-right: 8px !important;
}

div.reply_button {
    float: right;
    margin-right: 5px;
}

div.reply_button > input {
    font-size: 10px;
}

div.imageRecord img, div.logoRecord img {
    max-width: 315px;
}

a.annotationIcon {
    display: none;
}

#mask {
    opacity: 0.5;
}
*/
#content2 {
    width: 640px;
}
.sidebar {
    width: 290px;
}

.sidebar h2 {
    margin-top: 20px;
}

.sidebar > button {
    margin: 10px 0;
}
div.recordHeader {
    margin-left: 30px;
    margin-bottom: 20px;
    padding-left: 0 !important;
    border-bottom: 1px solid #CCC;
}
div#occurrenceMap {
    height: 290px;
    margin-top: 5px;
}
.originalValue {
    padding-left: 12px;
    font-style: italic; 
}
table.occurrenceTable {
    border-bottom: 0px !important;
    margin: 5px 0 10px 0;
    padding-bottom: 5px;
    width: 100%;
}
.occurrenceTable td.dwcLabel {
    width: 140px;
    vertical-align: top;
    font-weight: bold;
}

.dataQualityResults {
    border-bottom: 0px !important;
    margin: 5px 0 10px 0;
    padding-bottom: 5px;
    width: 100%;
}

td.annoText {
    width: 24px;
}
#headingBar #jsonLink {
    float:right;
    width: 200px;
    font-size: 11px;
    vertical-align: bottom;
    text-align: right;
    line-height: 1.2em;
    color: #555;
}
h2#headingSciName {
    color: #555;
    font-size: 1.6em;
    padding-bottom: 12px;
}
h1 span#recordId {
    color: #222;
}
#content2 h3 {
    margin-top: 4px;
}
#institutionLogo {
    max-width: 280px;
}
#assertionMaker {
    font-size: 110%;
/*    background-color: #900;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 150%;
    text-transform: uppercase;
    padding:5px;
    border:1px solid #900;*/
}
#loginOrFlag {
    font-size: 13px;
}

#loginOrFlag label {
    width: 85px;
    display: inline-block;
    color: #444;
}

#processedVsRawView table {
    width: 100%;
    border: none;
    margin-bottom: 0;
}

#processedVsRawView {
    font-size: 13px;
    text-align: center;
}

#processedVsRawView > table {
    width: 97%;
}

#processedVsRawView > table {
    border-top: 1px solid #D9D9D9;
    border-right: 1px solid #D9D9D9;
    border-left: 1px solid #D9D9D9;
}

#processedVsRawView > table > tbody > tr {
    border-bottom: 1px solid #D9D9D9;
    border-left: 1px solid #D9D9D9;
}

#processedVsRawView > table > thead > tr {
    border-bottom: 1px solid #D9D9D9;
}
#processedVsRawView > table > tbody > tr > td, #processedVsRawView > table > thead > tr > th {
    border-left: 1px solid #D9D9D9;
}

#processedVsRawView th {
    padding: 8px;
}

#processedVsRawView td.noPad {
    padding: 0;
}

.inner td.label {
    text-align: right;
}

.grey-bg {
    background-color: #F0F0F0;
}

#processedVsRawView td {
    padding: 4px 8px 4px 8px;
}

#processedVsRawView table.inner th, #processedVsRawView table.inner td {
    padding: 4px;
}

table.inner td:first-child {
    width: 150px;
    min-width: 150px;
}

#content2 > div {
    padding-left: 10px;
}

td.dwc {
    text-align: right;
    white-space: nowrap;
}

span.dwc {
    /*text-transform: capitalize;*/
}

div#userAssertionsDetailsLink {
    margin-left: 10px;
    margin-top: -5px;
}

div#userAssertionsDetailsLink > a {
    font-size: 12px;
}

#clubView {
    color:red;
}

div.sidebar > button.rounded {
    float: none;
}

div#backButton {
    float: right;
    display: inline-block;
    font-size: 13px;
    font-weight: bold;
    margin-top: 15px;
    padding: 3px 6px;
    border: 1px solid #999;
    background-color: #E0E0E0;
    -moz-border-radius: 4px; /* FF1+ */
    -webkit-border-radius: 4px; /* Saf3+, Chrome */
    -o-border-radius: 4px;
    -icab-border-radius: 4px;
    -khtml-border-radius: 4px;
    border-radius: 4px; /* Opera 7.7, IE 9 */
}

div#backButton a {
    text-decoration: none;
}

div#backButton a:hover {
    text-decoration: underline;
}

.dwcLabel a:link {
    text-decoration: none;
}

.dwcLabel a:hover {
    text-decoration: underline;
}

.sectionName {
    background-color:#D0D0D0;
    color:#222;
    font-weight:bold;
}

div.additionalData {
    margin-left: 20px;
    margin-top: 20px;
}

li.userAnnotationTemplate p { padding-top: 1px !important; padding-bottom:1px !important; }

li.userAnnotationTemplate { list-style: none; }