/* 
    Document   : search
    Created on : Feb 10, 2011, 4:23:15 PM
    Author     : "Nick dos Remedios <Nick.dosRemedios@csiro.au>"
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

form {
    margin-bottom: 0;
}

.searchInfo {
    margin: 15px 0;
    font-size: 14px;
}

#facetWell {
    /*margin-top: 10px;*/
}

#loginId {
    margin-right: 10px;
}

#searchInfoRow > div {
    margin-top: 10px;
    margin-bottom: 10px;
}

#customiseFacetsButton {
    padding-top: 2px;
}

#customiseFacetsButton .dropdown-menu {
    padding: 5px 10px 10px 15px;
    background-color: #fffef7;
}

#resultsReturned .dropdown-menu {
    padding: 10px 12px;
    background-color: #fffef7;
    width: 400px;
    white-space:normal;
    font-weight: normal;
    font-size: 12px;
}

#resultsReturned > span {
    vertical-align:middle;
}

#returnedText {
    display: inline-block;
    /*padding-top: 2px;*/
}

.rawTaxaList {
    margin-top: 5px;
}

.rawTaxaList input[type="checkbox"] {
    margin: 0px;
}

.rawTaxonSumbit {
    display: inline-block;
    float: right;
    margin-top: 5px;
}

.overrideHide {
    display: block !important;
}

#content ul.nav-tabs {
    list-style: none;
    margin-left: 0;
}

.nav-tabs > li > a {
    padding-top: 6px;
    padding-bottom: 6px;
}

#facetWell h3 {
    margin: 0;
    margin-bottom: 5px;
    line-height: normal;
}

#facetWell .sidebar h4 {
    font-size: 13px;
    padding: 0;
    margin: 6px 0 2px 0;
}

#updateFacetOptions {
    font-weight: bold;
}

#listHeader {
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
    /*margin-left: 30px;*/
    /*padding-left: 0px;*/
    /*height: 40px;*/
}
#listHeader h1 {
    border: none;
    margin: 20px 0 5px 0;
    padding: 0;
}
/*#listHeader h1 {*/
    /*width: 40%;*/
    /*float: left;*/
    /*height: 32px;*/
/*}*/

/*#headingBar > #searchBox {*/
    /*margin: 0;*/
    /*padding:0;*/
    /*width: 60%;*/
    /*float: left;*/
    /*height: 36px;*/
    /*text-align: right;*/
/*}*/

/*#searchBox > #searchLabel { */
    /*display:inline-block;*/
    /*padding-top:0px; */
/*}*/

#advancedSearchLink {
    /*display: block;*/
    padding: 0;
/*    margin: 0;*/
    margin-bottom: 0;
    margin-right: 10px;
    font-size: 11px;
}
*+html #advancedSearchLink {
    display: block;
    padding: 0;
    margin-right: 80px;
    margin-bottom: -6px;
}

#advancedSearchLink a {
    font-size: 10px;
}
#advancedSearchLink > a {
    font-size: 11px; 
}
#solrSearchForm input {
    margin: 0;
}
#solrSearchForm > input#taxaQuery {
    display: inline-block;
    margin-top: 2px;
    font-size: 13px;
    min-height: 20px;
    height: 30px;
    /*width: 440px;*/
}
#solrSearchForm > input#solrSubmit {
    display: inline-block;
    font-size: 13px;
    margin: 3px 6px;
}

.nav-tabs li a {
    background-color: #f0f0e8;
    border: 1px solid #ddd;
    margin-right: 4px;
}

.tabbable .nav-tabs {
    margin-bottom: 0;
}

.tab-content {
    border-bottom: 1px solid #DDD;
    border-right: 1px solid #DDD;
    border-left: 1px solid #DDD;
    padding: 15px;
}

#listMapToggle {
    margin-top: 2px;
}
.sidebar li {
    border: none;
    padding: 2px 3px;
    margin: 2px 10px;
}

#listMapToggle {
    float: right;
}

#listMapToggle > label {

}
.subnavlist > ul {
    margin-left: 7px;
    clear: left;
    /*padding-left: 24px;*/
}

#content .sidebar > .subnavlist > ul {
    list-style: none;
    margin-left: -4px;
}

ul#refinedFacets {
    list-style: none;
    margin: 5px 0 5px 5px;
}

.subnavlist > ul> li {
    text-indent: -4px;
    text-transform: none;
    line-height: 1.2em;
}

ul#refinedFacets li {
    text-indent: -5px;
}

.sidebar > .subnavlist > ul li {
    margin-left: 14px;
}

div#currentFilter {
    /*border: 1px solid #bbb;*/
    /*background-color: #F0F0E8;*/
    /*-moz-border-radius: 5px;*/
    /*-webkit-border-radius: 5px;*/
    /*-khtml-border-radius: 5px;*/
    /*border-radius: 5px;*/
    margin-left: -2px;
    margin-right: 4px;
    margin-bottom: 5px;
    /*margin-top: 2px;*/
    padding-left: 5px;
}
#currentFilter h4 {
/*    color: #1775BA;*/
}
.removeLink {
    font-family: sans-serif;
    font-weight: bold;
    text-decoration: none;
    line-height: 18px;
    padding: 0 4px;
}
#refine-results h3 strong {
    font-weight: bold;
    font-size: 130%;
}
#content2 #resultsReturned {
    font-size: 110%;
    padding: 5px 5px 5px 4px;
    margin: 5px 0 10px 0;
    height: 20px;
}
#resultsReturned .btn-small {
    font-size: 13px;
}
#results {
    border-bottom: none;
    width: 100%;
    padding: 0 10px 0 0;
}
#results .rowA {
    color: #555;
    margin-top: 4px;
    font-weight: bold;
}
#results .rowA .occurrenceNames {
    color: #222;
}
#results .rowB {
    font-size: 12px;
    color: #222;
    padding-bottom: 4px;
    border-bottom: 1px solid silver;
    margin-bottom: 0;
}
.rowB span {
    padding-right: 4px;
}
.resultsLabel {
    font-weight: normal;
    color: #555;
}
#searchControls {
/*    background-color: #E0E0E0;
    border-top: 2px solid silver;*/
    border-bottom: 1px solid silver;
    margin-bottom: 6px;
    padding: 2px 0 10px 0;
    min-height: 22px;
}

#results {
    clear: both;
}
#downloads a, #alerts a {
    font-size: 12px;
    font-weight: bold;
    color: inherit;
}
#sortWidgets {
    text-align: right;
    padding-top: 4px;
    /*float: right;*/
    /*width: 75%;*/
}

#sortWidgets select {
    padding:0;
}
#searchNavBar {
    text-align: center;
    margin-top: 15px;
}
#navLinks {
    text-align: center;
    width: 80%;
    margin: auto;
    padding: 10px 5px;
}
/*#searchNavBar ul {*/
    /*display: inline-block;*/
/*}*/
/*#searchNavBar ul li {*/
    /*display: inline;*/
    /*list-style: none;*/
    /*font-size: 14px;*/
/*}*/
/*#searchNavBar ul li a, #searchNavBar ul li.currentPage, #searchNavBar ul li#prevPage {*/
    /* border: 1px solid #01716E; */
    /*display: inline-block;*/
    /*float: left;*/
    /*margin: 0px 5px 0px 0px;*/
    /*padding: 0px 5px;*/
    /*text-decoration: none;*/
/*}*/
/*li.currentPage {*/
    /*font-size: 110%;*/
    /*font-weight: bold;*/
    /*color: #DD3102;*/
/*}*/
/*#searchNavBar li a {*/
    /*color:#005A8E;*/
    /*text-decoration:none;*/
    /*font-size: 14px;*/
/*}*/
/*#searchNavBar li a:hover  {*/
    /*color:#6DB71D;*/
    /*text-decoration:none;*/
/*}*/
div.recordHeader {
    margin-left: 30px;
    margin-bottom: 20px;
    padding-left: 0 !important;
    border-bottom: 2px solid gray;
}
#listMapToggle{
    display: inline-block;
    float: right;
    padding-left: 10px;
    text-align: right;
}
div#download {
/*    display: none;*/
    font-size: 13px;
}
#downloadForm {
    text-align: left;
}
#downloadForm label {
    width: 35%;
    display: inline-block;
    text-align: right;
    padding-right: 10px;
    color: #444;
}

#download {
    line-height: 1.4em;
}
#downloadForm input {
    float: none;
}
#termsOfUseDownload { 
    text-align:left; padding-bottom:15px;
}

#resultsOuter {
    position: relative;
    overflow: hidden;
    width: 730px;
}
#resultsOuter div.solrResults {
/*  position: absolute;
  left: 0;
  top: 0;*/
  width: 730px;
}

#resultsOuter div#mapwrapper {
/*    position: absolute;
    left: 730px;
    top: 0;*/
    width: 730px;
    /*display:none;*/
}
.sidebar .showHide {
    margin: -2px 0 0 10px;
    padding: 0;
}
.showHide a:link, .showHide a:visited  {
    /*color: #005A8E;*/
    font-size: 11px;
    font-weight: normal; /* was bold */
    text-decoration: none;
}
div#advancedSearch {
    margin-left: 30px;
    margin-bottom: 20px;
}
.sidebar #customiseFacets {
    display: block;
    float: left;
    text-align: left;
    padding: 2px 7px 1px 5px;
    margin: 7px 0px 8px -2px;
    border: 1px solid #BBBBBB;
    background-color: #F0F0E8;
    font-weight: bold;
}

.sidebar #customiseFacets a {
    font-size: 13px;
}

#facetOptions {
    position: absolute;
    left: -9999px;
    padding: 0px 8px 10px 8px;
    margin: 4px 10px;
    border: 1px solid #BBBBBB;
    background-color: #F0F0E8;
    z-index: 500;
    width: 700px;
}

#facetCheckboxes {
    margin-top: 4px;
    margin-bottom: 8px;
}

div.facetsColumn {
    float: left;
    width: 230px;
    padding: 4px 0;
}

#queryGuid {
    display:none;
}

/*.refineTaxaSearch {*/
    /*position: absolute;*/
    /*top: -9999px;*/
    /*width: 500px;*/
    /*z-index: 501;*/
    /*background-color: #f0f0e8;*/
    /*border: 1px solid #BBBBBB;*/
    /*padding: 10px;*/
    /*margin-top: 0;*/
/*}*/

span.queryDisplay {
    /*font-weight: bold;*/
    display: inline-block;
}

span.queryDisplay a:hover {
    text-decoration: none;
}

.dropDown {
    display: inline-block;
/*    float: left;*/
    text-align: left;
    padding: 2px 5px;
    /*margin: 4px 0px;*/
    background-color: #F0F0E8;
    border: 1px solid #BBBBBB;
}

.buttonDiv {
    display: inline-block;
    float: left;
    text-align: left;
    font-weight: bold;
    padding: 2px 5px;
    margin-top: -1px;
    margin-bottom: 3px;
    margin-right: 5px;
    background-color: #FFF;
    border: 1px solid #BBBBBB;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
}

.buttonDiv a {
    text-decoration: none
}

div.centered {
    float: none;
    margin: 10px auto;
    background-color: #DDD;
}

#customiseFacets a::after, .dropDown::after {
    width: 7px;
    height: 7px;
    display: inline-block;
    background: transparent url(../images/sprite-icons.png) no-repeat scroll -111px -68px;
    content: "&darr;";
    text-indent: -99999px;
    vertical-align: top;
    margin-top: 8px;
    margin-left: 5px;
}

.plain {
    font-weight: normal;
    color: #444444;
}

#mapLayerControls {
    border-bottom: none;
    margin-bottom: 6px;
    width: 100%;
}

#mapLayerControls label {
    display: inline-block;
}

#mapLayerControls .layerControls, #mapLayerControls #sizeslider {
    display: inline-block;
    float: none;
}

#mapLayerControls #sizeslider-val {
    padding-right: 12px;
    padding-left: 6px;
}

/* Collection charts */
.link {
    color: #01716E;
    cursor: pointer;
}
.under {
    text-decoration: underline;
}

/*
#imagesGrid {
    margin: 10px 2px;
}

#imagesGrid ul {
    list-style: none;
    margin-left: 0;
}

#imagesGrid ul li {
    display: inline-block;
    padding: 0 3px;
}*/
#imagesWrapper h3, #imagesWrapper p, #speciesWrapper h3, #loadingSpecies, #speciesGalleryControls {
    margin-left: 14px;
}
#imagesGrid, #speciesGallery {
    padding:10px;
}
#imagesGrid img, #speciesGallery img {
/*    float:left;*/
    display: inline-block;
    height:100px;
    margin:5px;
    padding:0px;
}
#ibox {
    position:absolute;
    overflow-y: hidden;
    background:#F0F0E8;
    border:1px solid #ccc;
    z-index:1001;
    display:none;
    padding:4px;
    text-align: center;
    -webkit-box-shadow: 0px 0px 6px 0px #bbb;
    -moz-box-shadow: 0px 0px 6px 0px #bbb;
    box-shadow: 0px 0px 6px 0px #bbb;
}
#ibox img {
    border:1px solid #444;
}
#ibox br {
    clear:both;
}
.resultListItem {
    text-transform: capitalize;
    white-space: nowrap;
}

table.avhRowB {
    width: 100%;
    border-bottom: 1px solid silver;
    margin: 2px 0 4px 0;
}
table.avhRowB td {
    padding: 2px 0;
}

table.avhRowB td:first-child {
    width: 50%;
}
table.avhRowB td {
    /*width: 40%;*/
}
table.avhRowB  td.viewRecord {
    text-align: right;
}
span.FieldName {
    font-weight: bold;
    float:left;
}
img.optionsIcon {
    vertical-align: middle;
    float: left;
    padding:0 0 2px 5px;
}

#multipleFacets  {
    text-align: center;
}

#multipleFacets H3 {
    font-size: 16px;
}

#multipleFacets #dynamic {
    text-align: center;
    margin: 0 auto;
}

table#fullFacets thead th {
    border-bottom: 1px solid #D9D9D9;
}

ul#refinedFacets b {
    font-weight: normal;
}

.hidden {
    display: none;
}

tr#loadMore td {
    text-align: center;
}

div#submitFacets {
    padding-top: 10px;
}

tr#loadingRow td {
    width: 490px;
}

div#content2 div#envLegend {
    padding-top: 5px;
    line-height: 2em;
}

span.activeFq {
    font-weight: bold;
}