/* 
    Document   : search
    Created on : Feb 10, 2011, 4:23:15 PM
    Author     : "Nick dos Remedios <Nick.dosRemedios@csiro.au>"
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/
#headingBar {
    border-bottom: 1px solid #ccc;
    margin-left: 30px;
    padding-left: 0px;
    height: 40px;
}
#headingBar h1 {
    border: none;
}
#headingBar h1 {
    width: 40%;
    float: left;
    height: 32px;
}

#headingBar > #searchBox {
    margin: 0;
    padding:0;
    width: 60%;
    float: left;
    height: 36px;
    text-align: right;
}

#searchBox > #searchLabel { 
    display:inline-block;
    padding-top:0px; 
}

#searchBox #advancedSearchLink {
    display: block;
    padding: 0;
/*    margin: 0;*/
    margin-bottom: 0;
    margin-right: 70px;
    font-size: 11px;
}
*+html #searchBox #advancedSearchLink {
    display: block;
    padding: 0;
    margin-right: 80px;
    margin-bottom: -6px;
}

#searchBox  #advancedSearchLink a {
    font-size: 10px;
}
#searchBox #advancedSearchLink > a {
    font-size: 11px; 
}
#solrSearchForm input {
    margin: 0
}
#solrSearchForm > input#taxaQuery {
    display: inline-block;
    margin-top: 2px;
    font-size: 13px;
    width: 450px;
}
#solrSearchForm > input#solrSubmit {
    display: inline-block;
    font-size: 13px;
    margin: 3px 6px;
}

#listMapToggle {
    margin-top: 2px;
}
.sidebar li {
    border: none;
    padding: 2px 3px;
    margin: 5px 10px;
}

#listMapToggle {
    float: right;
}
#listMapToggle > label {
    
}
#subnavlist > ul {
    margin-left: 7px;
    /*padding-left: 24px;*/
}
#subnavlist > ul> li {
    text-indent: -4px;
    text-transform: none;
    line-height: 1.2em;
}
div#currentFilter {
    border: 2px solid #ccc;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
    margin-left: -7px;
    margin-bottom: 5px;
    padding-left: 5px;
}
#currentFilter h4 {
/*    color: #1775BA;*/
}
.removeLink {
    font-family: sans-serif;
    text-decoration: none;
}
#refine-results h3 strong {
    font-weight: bold;
    font-size: 130%;
}
#resultsReturned {
    font-size: 120%;
    padding: 4px 5px 8px 0;
    margin-bottom: 5px;
}
#results {
    border-bottom: none;
}
#results .rowA {
    color: #555;
    padding-top: 4px;
    font-weight: bold;
}
#results .rowA .occurrenceNames {
    color: #222;
}
#results .rowB {
    font-size: 12px;
    color: #222;
    padding-bottom: 4px;
    border-bottom: 1px solid silver;
    margin-bottom: 0;
}
.rowB span {
    padding-right: 4px;
}
.resultsLabel {
    font-weight: normal;
    color: #555;
}
#searchControls {
/*    background-color: #E0E0E0;
    border-top: 2px solid silver;*/
    border-bottom: 1px solid silver;
    padding: 0 0 10px 0;
    height: 22px;
}

#results {
    clear: both;
}

#sortWidgets {
    text-align: right;
    float: right;
    width: 70%;
}
#searchNavBar {
    text-align: center;
}
#navLinks {
    text-align: center;
    width: 70%;
    margin: auto;
    padding: 5px;
    height: 2.0em;
}
#searchNavBar ul {
    display: inline-block;
}
#searchNavBar ul li {
    display: inline;
    list-style: none;
    font-size: 14px;
}
#searchNavBar ul li a, #searchNavBar ul li.currentPage, #searchNavBar ul li#prevPage {
    /* border: 1px solid #01716E; */
    display: inline-block;
    float: left;
    margin: 0px 5px 0px 0px;
    padding: 0px 5px;
    text-decoration: none;
}
li.currentPage {
    font-size: 110%;
    font-weight: bold;
    color: #DD3102;
}
#searchNavBar li a {
    /*color:#005A8E;*/
    text-decoration:none;
    font-size: 14px;
}
#searchNavBar li a:hover  {
    /*color:#6DB71D;*/
    text-decoration:none;
}
div.recordHeader {
    margin-left: 30px;
    margin-bottom: 20px;
    padding-left: 0 !important;
    border-bottom: 2px solid gray;
}
#listMapToggle{
    display: inline-block;
    float: right;
    padding-left: 10px;
    text-align: right;
}
div#download {
/*    display: none;*/
    font-size: 13px;
}
#downloadForm label {
    width: 85px;
    display: inline-block;
    color: #444;
}
#download {
    line-height: 1.4em;
}
#downloadForm input {
    float: none;
}
#termsOfUseDownload { 
    text-align:left; padding-bottom:15px;
}
#downloadForm p { 
    margin-bottom:10px;
}

#resultsOuter {
    position: relative;
    overflow: hidden;
    width: 730px;
}
#resultsOuter div.solrResults {
/*  position: absolute;
  left: 0;
  top: 0;*/
  width: 730px;
}

#resultsOuter div#mapwrapper {
/*    position: absolute;
    left: 730px;
    top: 0;*/
    width: 730px;
    /*display:none;*/
}
li.showHide {
    list-style: none;
    margin-left: 0px;
}
li.showHide a:link, li.showHide a:visited  {
    /*color: #005A8E;*/
    font-size: 12px;
    text-decoration: none;
}
div#advancedSearch {
    margin-left: 30px;
    margin-bottom: 20px;
}
#customiseFacets {
    display: inline-block;
    float: left;
    text-align: left;
    padding: 0px 5px;
    margin: 4px 10px;
    border: 1px solid #BBBBBB;
    background-color: #EEEEEE;
    font-weight: bold;
}
#facetOptions {
    position: absolute;
    left: -9999px;
    padding: 0px 8px 10px 8px;
    margin: 4px 10px;
    border: 1px solid #BBBBBB;
    background-color: #EEEEEE;
    z-index: 500;
}

#facetCheckboxes {
    margin-top: 4px;
    margin-bottom: 8px;
}

#queryGuid {
    display:none;
}

.refineTaxaSearch {
    position: absolute;
    top: -9999px;
    width: 500px;
    z-index: 501;
    background-color: #EEEEEE;
    border: 1px solid #BBBBBB;
    padding: 10px;
    margin-top: 0;
}

span#queryDisplay {
    font-weight: bold;
}

span#queryDisplay a:hover {
    text-decoration: none;
}

.dropDown {
    display: inline-block;
/*    float: left;*/
    text-align: left;
    padding: 2px 5px;
    margin: 4px 0px;
    background-color: #EEEEEE;
    border: 1px solid #BBBBBB;
}

#downloads {
    display: inline-block;
    float: left;
    text-align: left;
    font-weight: bold;
    padding: 2px 5px;
    margin-top: -1px;
    background-color: #FFFFFF;
    border: 1px solid #BBBBBB;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
}

#customiseFacets a::after, .dropDown::after {
    width: 7px;
    height: 7px;
    display: inline-block;
    background: transparent url(../images/sprite-icons.png) no-repeat scroll -111px -68px;
    content: "&darr;";
    text-indent: -99999px;
    vertical-align: top;
    margin-top: 8px;
    margin-left: 4px;
}

.plain {
    font-weight: normal;
    color: #444444;
}

#mapLayerControls {
    border-bottom: none;
    margin-bottom: 6px;
    width: 100%;
}

#mapLayerControls label {
    display: inline-block;
}

#mapLayerControls .layerControls, #mapLayerControls #sizeslider {
    display: inline-block;
    float: none;
}

#mapLayerControls #sizeslider-val {
    padding-right: 12px;
    padding-left: 6px;
}

/* Collection charts */
.link {
    color: #01716E;
    cursor: pointer;
}
.under {
    text-decoration: underline;
}

/*
#imagesGrid {
    margin: 10px 2px;
}

#imagesGrid ul {
    list-style: none;
    margin-left: 0;
}

#imagesGrid ul li {
    display: inline-block;
    padding: 0 3px;
}*/

#imagesGrid {
    padding:10px;
}
#imagesGrid img {
/*    float:left;*/
    display: inline-block;
    height:100px;
    margin:5px;
    padding:0px;
}
#ibox {
    position:absolute;
    overflow-y:none;
    background:#fff;
    border:1px solid #ccc;
    z-index:1001;
    display:none;
    padding:4px;
    text-align: center;
    -webkit-box-shadow: 0px 0px 6px 0px #bbb;
    -moz-box-shadow: 0px 0px 6px 0px #bbb;
    box-shadow: 0px 0px 6px 0px #bbb;
}
#ibox img {
    border:1px solid #444;
}
#ibox br {
    clear:both;
}