
/* root element for tabs  */
ul.css-tabs {  
	margin:0 !important; 
	padding:0;
	height:30px;
/*	border-bottom:1px solid #666;	*/
}

/* single tab */
ul.css-tabs li {  
	float:left;	 
	padding:0; 
	margin:0;  
	list-style-type:none;	
}

/* link inside the tab. uses a background image */
ul.css-tabs a { 
	float:left;
	font-size:15px;
    font-weight: bold;
	display:block;
	padding:4px 30px;	
	text-decoration:none;
	border:1px solid #666;	
	border-bottom:0px;
	height:20px;
	background-color:#ffffff;
	color:#444;
	margin-right:2px;
	position:relative;
	top:1px;	
	outline:0;
	-moz-border-radius: 5px 5px 0 0;	
    -webkit-border-radius: 5px 5px 0 0;	
    -khtml-border-radius: 5px 5px 0 0;	
    border-radius: 5px 5px 0 0;	
}

ul.css-tabs a:hover {
	background-color:#F7F7F7;
	color:#333;
}
	
/* selected tab */
ul.css-tabs a.current {
	background-color:#eee;
	border-bottom:1px solid #eee;	
	color:#000;	
	cursor:default;
}

	
/* tab pane */
.css-panes div.paneDiv {
	display:none;
    width: 680px;
	border:1px solid #666;
	border-width:1px 1px 1px 1px;
    -moz-border-radius: 0 5px 5px 5px;	
    -webkit-border-radius: 0 5px 5px 5px;	
    -khtml-border-radius: 0 5px 5px 5px;	
    border-radius: 0 5px 5px 5px;	
	min-height:100px;
	padding:15px 20px;
	background-color:#eee;	
}

.css-panes div.homePane {
    width: 90%;
}

#content3 {
    padding: 0 40px 0 40px;
    margin-bottom: 20px;
}

#content3 table {
    border-bottom: none;
}