
#headingBar {
    margin-left: 0 !important;
}

#searchBox {
    /*display:none;*/
}

#SidebarBox {
    float: left;
}

#content2 {
    float: left;
    margin-left: 20px;
    /*    width: 640px;*/
}

#main_content > #headingBar {
    min-height: 55px;
    margin: 0 0 10px 0;
    /*border-bottom: none; */
}

#main_content > #headingBar > h1 {
    padding-top: 15px;
}

#SidebarBox, #resultsReturned {
    margin-top: 5px;
}

h1, h2, h3, h4, h5 {
    line-height: 1.2em;
}

#mapLayerControls label {
    margin: 0;
}

#searchHeader {
    padding-left: 20px;
}

div#mainmenu > div.rightMenu {
    float:right;
    border-right: none;
    border-left: 1px solid #FFF;
}

div#mainmenu > div#clubView {
    font-weight: bold;
    padding-left: 5px;
    padding-right: 5px;
}

div#mainmenu a div#loginId {
    display: inline-block;
    padding-right: 5px;
}

#clubView {
    color: red;
}

/* Custom width for AVH results */
#content2 .css-panes div.paneDiv {
    width: 740px;
}

#mapwrapper #mapcanvas {
    width: 740px;
}

#mapwrapper #maploading {
    width: 740px;
}

ul.facets {
    padding-bottom: 0;
}

.sidebar h4 {
    padding-top: 0;
    margin-top: 0;
}

.subnavlist ul.facets {
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar a:link {
    color: #5C5CAD;
}

.footer {
    clear: both;
}

.nav-tabs > .active > a, .nav-tabs > .active > a:hover, .nav-tabs > .active > a:focus {
    background-color: #ffffff;
}