/*
    Document   : datatables.css
    Created on : 05/11/2012, 12:15:19 PM
    Author     : nklaze
    Description:
        Purpose of the stylesheet follows.
*/

/*
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

/* DATATABLES styles */

.dataTables_length {
    width: 20%;
    float: left;
    clear: left;
}

div.dataTables_info {
    width: 30%;
    float: left;
}

.dataTables_paginate {
    float: left;
    text-align: right;
    width: 50%;
}

.top, .bottom {
    width: 980px;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
    background-color: #F5F5F5;
    border: 1px solid #CCCCCC;
    margin-bottom: 10px;
    height: 30px;
}

.top .dataTables_info {
    float: left;
}

div.dataTables_paginate span.paginate_button,
div.dataTables_paginate span.paginate_active {
    border: 1px solid #aaa;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    padding: 2px 5px;
    margin: 0 3px;
    cursor: pointer;
}

div.dataTables_paginate span.paginate_button {
    background-color: #ddd;
}

div.dataTables_paginate span.paginate_button:hover {
    background-color: #f5d447;
}

div.dataTables_paginate span.paginate_active {
    background-color: #ddee99;
}

div.table {
    width: 980px;
    overflow: auto;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
    background-color: #F5F5F5;
    border: 1px solid #CCCCCC;
}




tr.odd {
    background-color: white; /*#FFFFCC; #E2E4FF;*/
}

tr.even {
    background-color: white;
}


/*
 * Sorting classes for columns
 */
/* For the standard odd/even */
.sorting_asc {
    background: url('../img/sort_asc.jpg') no-repeat top right;
}

.sorting_desc {
    background: url('../img/sort_desc.jpg') no-repeat top right;
}

.sorting {
    background: url('../img/sort_both.jpg') no-repeat top right;
}

tr.odd td.sorting_1 {
    background-color: #DDE599; /*#B3B8EF;*/
}

tr.even td.sorting_1 {
    background-color: #DDEE99; /*#D1D3EF;*/
}

tr.odd td.sorting_2 {
    background-color: #E7E599; /*#C2C5EF;*/
}

tr.even td.sorting_2 {
    background-color: #E7EE99; /*#D1D3EF;*/
}

tr.odd td.sorting_3 {
    background-color: #EFE599; /*#C2C6EF;*/
}

tr.even td.sorting_3 {
    background-color: #EFEE99; /*#E0E0EF;*/
}