/*
    Document   : style-common
    Created on : 31/10/2012, 11:40:52 AM
    Author     : nklaze
    Description:
        Purpose of the stylesheet follows.
*/

/*
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

p {
    font-size: 90%;
}

#content p {
    line-height: 1.5em;
    padding-bottom: 5px;
    padding-top: 5px;
}

#content a {
    color: #006600;
}

#content h1 {
    font-size: 200%;
    color: #006600;
    padding-bottom: 0px;
    letter-spacing: normal;
}

#content h2 {
    font-size: 150%;
    color: #006600;
    margin-bottom: 0px;
    margin-top: 20px;
    padding-bottom: 0px;
}

#content h3 {
    font-size: 110%;
    color: #006600;
    margin-bottom: 0px;
    margin-top: 16px;
    line-height: 1.5em;
    text-transform: none;
    font-weight: bold;
    letter-spacing: normal;
    padding-bottom: 0px;
}

#content h4 {
    font-size: 100%;
    color: #006600;
    margin-bottom: 0px;
    margin-top: 12px;
    line-height: 1.5em;
    text-transform: none;
    font-weight: bold;
    letter-spacing: normal;
    padding-bottom: 0px;
}

#content ul {
    list-style-type: disc;
    padding-bottom: 5px;
}

#content ul li {
    font-size: 90%;
    margin-left: 2em;
    line-height: 1.5em;
}
